h1 {
  padding-left: 5%;
  padding-top: 5%;
  font-size: 15pt;
  font-weight: 400;
  color: #0052A5;
}
h2 {
  padding-left: 5%;
  font-size: 13pt;
  font-weight: 400;
  color: #BF0A30;
}
img{
  padding-bottom: 20px;
}
h3 {
  font-weight:400;
  color: white;
}
p {
  font-size: 11pt;
  font-weight: 300;
  color: white;
}
#info{
  padding-left: 5%;
}
li {
  color: white;
}
.slider {
  margin-top: -5px;
  width: 500px;
  height: 350px;
}
